*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "CircularStd";
  src: url("../police/CircularStd-Book.ttf");
}

body {
  font-family: "CircularStd", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  padding: 0 70px;
  background: #FEFEFD;
}

header .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  float: left;
}

header .container-logo a {
  color: #080807;
}

header .container-logo a span {
  display: block;
  line-height: 18px;
}

header .container-logo a span:nth-child(1) {
  font-size: 1.6em;
  font-weight: 900;
}

header .container-logo a span:nth-child(2) {
  font-weight: 400;
}

header .navbars {
  float: right;
}

header .navbars li {
  display: inline-block;
}

header .navbars li a {
  padding: 7px 14px;
  line-height: 60px;
  font-weight: 400;
  color: #080807;
  font-size: 16px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

header .navbars li a:hover {
  color: rgba(8, 8, 7, 0.5);
}

.container-main {
  width: 100%;
  height: auto;
}

.container-main .container-fluid {
  width: 85%;
  height: 565px;
  background: #F4D772;
  float: right;
}

.container-main .container-fluid .group-network {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  width: 380px;
  height: 420px;
  background: #DEB4FF;
  padding: 40px 0;
}

.container-main .container-fluid .group-network .link-network {
  margin: 0 15px;
}

.container-main .container-fluid .group-network .link-network a {
  font-weight: 500;
  color: #080807;
  font-size: 15px;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.container-main .container-fluid .group-network .link-network a:hover {
  color: #FEFEFD;
}

.container-main .container-fluid .group-image {
  width: 200px;
  height: 400px;
  background: url("../images/image1.png") no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container-main .container-fluid .group-description {
  position: absolute;
  right: 130px;
  top: 150px;
  width: 400px;
  height: auto;
  padding: 15px 10px;
}

.container-main .container-fluid .group-description .title {
  margin-bottom: 10px;
}

.container-main .container-fluid .group-description .title h1 {
  font-size: 2em;
  line-height: 33px;
  letter-spacing: -.5px;
}

.container-main .container-fluid .group-description .description {
  margin-bottom: 15px;
}

.container-main .container-fluid .group-description .description p {
  font-weight: 500;
  line-height: 25px;
  color: #080807;
}

.container-main .container-fluid .group-description .learn-more h1 {
  font-size: 16px;
  font-weight: 900;
  position: relative;
}

.container-main .container-fluid .group-description .learn-more h1::before {
  content: "";
  width: 170px;
  height: 2px;
  background: #080807;
  position: absolute;
  left: 0;
  bottom: -3px;
}
/*# sourceMappingURL=main.css.map */