@import "mixins/mixins";

header {
    width: 100%;
    height: 60px;
    padding: 0 70px;
    background: $blanche;

    // logo
    .container-logo {
        @include positionFlex(initial, center);
        height: 60px;
        float: left;

        a {
            color: $noir;

            span {
                display: block;
                line-height: 18px;

                &:nth-child(1) {
                    font-size: 1.6em;
                    font-weight: 900;
                }

                &:nth-child(2) {
                    font-weight: 400;
                }
            }
        }
    }

    // menu de navigation
    .navbars {
        float: right;

        li {
            display: inline-block;

            a {
                padding: 7px 14px;
                line-height: 60px;
                font-weight: 400;
                color: $noir;
                font-size: 16px;
                transition: .2s ease-in;

                &:hover{
                    color: rgba($noir, .5);
                }
            }
        }
    }
}

// contenus
.container-main{
    width: 100%;
    height: auto;

    .container-fluid{
        width: 85%;
        height: 565px;
        background: $jaune;
        float: right;

        // group media sociaux
        .group-network{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include positionFlex(center, initial);
            width: 380px;
            height: 420px;
            background: $move;
            padding: 40px 0;

            .link-network{
                margin: 0 15px;
                a{
                    font-weight: 500;
                    color: $noir;
                    font-size: 15px;
                    transition: .2s ease-in;

                    &:hover{
                        color: $blanche;
                    }
                }
            }
        }

        // image
        .group-image{
            width: 200px;
            height: 400px;
            background: url("../images/image1.png") no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 140px;
            left: 50%;
            transform: translateX(-50%);  
        }

        .group-description{
            position: absolute;
            right:130px;
            top: 150px;
            width: 400px;
            height: auto;
            padding: 15px 10px;

            .title{
                margin-bottom: 10px;
                h1{
                    font-size: 2em; 
                    line-height: 33px;
                    letter-spacing: -.5px;
                }
            }
            .description{
                margin-bottom: 15px;
                p{
                    font-weight: 500;
                    line-height: 25px;
                    color: $noir;
                }
            }
            .learn-more{
                h1{
                    font-size: 16px;
                    font-weight: 900;
                    position: relative;

                    &::before{
                        content: "";
                        width: 170px;
                        height: 2px;
                        background: $noir;
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                    }
                }
            }
        }
    }
}